.head-contain{
 width: 100%;	
}
.logo-head img{
	
	width: 250px;
	height: 120px;
	float: right;
	margin-right: 100px;
	padding-top: 10px;
	padding-right: 10px;
	
	
	
}
.first-head p{
	font-size: 20px;
	margin-left: 500px;
	padding-top:10px;

}
.second-head p{
	font-size: 20px;
	margin-left: 520px;
	margin-top: -10px;

}
.last-head p{
	font-size: 20px;
	margin-left: 513px;
margin-top:-10px;
}